<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>330833630784-0dsc13brk1vd3g9o5gq3repgg252aagq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.330833630784-0dsc13brk1vd3g9o5gq3repgg252aagq</string>
	<key>API_KEY</key>
	<string>AIzaSyDPkcus4aB8_r-GjYIHdeZo7P-qmWsdsgs</string>
	<key>GCM_SENDER_ID</key>
	<string>330833630784</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.opsnft.app</string>
	<key>PROJECT_ID</key>
	<string>whoopsnft</string>
	<key>STORAGE_BUCKET</key>
	<string>whoopsnft.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:330833630784:ios:55a337fff0a652fc9ef1a5</string>
</dict>
</plist>